# Mailmap
# This file maps author names and emails to canonical names and emails
# Format: Proper Name <proper@email.com> <commit@email.com>

Najm Rush <info@najmrush.com> <admin@najmrush.com>
نجم راش <info@najmrush.com> <contact@najmrush.com>